main {

    font-family: 'sans-serif' ;
    text-align: center;

}

p {

color: rgb(0, 0, 0);

}

.about {

background: rgb(1, 162, 255);
padding: 8px;

}

img {

    height: 120px;
    width: 120px;

}

.column {

    float: left;
    margin-right: 16px;
    margin: 20px;
    width: 22%;
}

.card {
  
    box-shadow: 0px 4px 8px 0 #b3b3b3f5;
    padding: 0 16px 0 16px ;
}