h1 {

text-align: center;
}


h3 {
color: skyblue;
}


p{
color: black;
}

.bg-cover {
    background-image: url("../images/background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}

h1 {

padding: 5px;



}


img {

width: 220px;
height: 220px;
margin-top: 10px;
}

.gallery-container {

text-align: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;

}

.card {

border-radius: 10px;
margin: 10px;
width: 20%;
max-width: 280px;
height: auto;
padding: 5px;
}

.gallery-container a {

background-position: center;
background-size: cover;
border-radius: 10px;
border: solid 3px black;

}

.gallery-container a:hover {

opacity: 70%;
text-decoration-color: skyblue;


}
